body{
    font-family: 'Poppins', sans-serif;
    
}
.color{
    text-align: center;
    font-size: 40px;
}
.orange-color{
    color: rgb(255, 94, 0);
}
.top{
    display: flex;
    margin: 5%;
    
}
.flx{
    display: flex;
}

h1{
    font-size: 50px;
    color: gray;
}
h2{
    font-size: 40px;
    font-weight: bolder;
    color: gray;
}
p{
    color: gray;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 50%;
}
.button{
    text-decoration: none;
    color:white;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
    padding:10px  20px;
    border-radius: 30px;
}
.bg-img {
    background-image: url(images/appi.jpg);
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .about-me {
    text-align: left;
    padding-left: 54%;
    padding-top: 14%;
    padding-right: 15%;
  }
  .my-recipies{
      text-align: center;
  }
  .group{
      width: 25%;
      margin-left: 3.5%;
      margin-right: 4%;
      padding-left: 1%;
      border-radius: 8%;
      box-shadow: 10px 10px 50px gray;
  }
  .img1{
      height: 245px;
      width: 315px;
      padding-top: 20px;
      padding-right: 20px;
      padding-left: 20px;
  }
  .divided{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 15px;
    box-shadow: 15px 20px 20px 20px  #f1ebeb;
}
  footer{
    background-color: black;
    text-align: center;
    padding: 60px 450px 60px 450px ;
 }
 .left{
     padding-left: 150px;
 }
 .center{
     padding-left: 200px;
 }
 .right{
     padding-left: 200px;
 }
 
  